/*Name this external file gallery.css*/

body{
    margin: 2%;
    border: 1px solid black;
    background-color: #b3b3b3;
    text-align: center;
}

h1{
    margin-bottom: 20px;
}

#image{
    line-height:650px;
    width: 575px;
    height: 650px;
    border:5px solid black;
    margin:0 auto 25px auto;
    background-color: #8e68ff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color:#FFFFFF;
    font-size: 150%;
}

/* Layout */
.gallery{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

/* Preview box */
.preview{
    width: 200px;
    height: 200px;
    border: 6px solid black;
    overflow: hidden;
}

/* Image fit */
.preview img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

/* Keyboard focus highlight */
.preview img:focus{
    outline: 4px solid yellow;
}
